<% if @model == "game" %>
  <h3>"<%= @content %>"でけんさくしたゲーム</h3>
  <%= render 'games/index', games: @records %>
<% else @model == "user" %>
  <h3>"<%= @content %>"でけんさくしたクリエイター</h3>
  <%= render 'users/index', users: @records %>
<% end %>