<div class="right-all col-9 offset-1">
  <% if @model == "game" %>
    <div class="table-all">
      <h3>"<%= @content %>"でけんさくしたゲーム</h3>
    </div>
    <div class="table-item">
      <%= render 'games/index', games: @records %>
    </div>
  <% else @model == "user" %>
    <div class="table-all">
      <h3>"<%= @content %>"でけんさくしたクリエイター</h3>
    </div>
    <div class="table-item">
      <%= render 'users/index', users: @records %>
    </div>
  <% end %>
</div>