<% if @model == "game" %>
  <h3>「<%= @content %>」で検索したゲーム一覧</h3>
  <%= render 'games/index', games: @records %>
<% else @model == "user" %>
  <h3>「<%= @content %>」で検索した制作者一覧</h3>
  <%= render 'users/index', users: @records %>
<% end %>