<div class="d-flex flex-wrap">
  <% users.each do |user| %>
    <div class="table-item text-center">
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :image, size: "130x130" %>
        <p><%= truncate(user.name, length: 10) %></p>
      <% end %>
    </div>
  <% end %>
</div>