<div class="col-xs-10">
  <% @users.each do |user| %>
    <table class="table">
      <tr>
        <td>
          <%= attachment_image_tag user, :image, :fill, 100, 100 %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.introduction.truncate(20) %>
        </td>
        <td>
          <%= link_to "もっと　くわしく", user_path(user), class: "nes-btn is-warning" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>