<div class="d-flex flex-wrap">
  <% games.each do |game| %>
    <div class="table-item text-center">
      <%= attachment_image_tag game.game_images[0], :image, size: "160x90" %>
      <p>
        <%= truncate(game.title, length: 10) %>
      </p>
      <p>  
        <%= link_to "もっと　くわしく", game_path(game), class: "nes-btn is-warning" %>
      </p>
    </div>
  <% end %>
</div>