<div class="right-all col-8 offset-1">
  <h1 class="top">
    INDIE<br>
    GAME<br>
    FANS!
  </h1>
  <button class="nes-btn is-warning d-none d-md-block" id="about-btn">ってなに？</button>
  <h1 id="about">つかいかた</h1>
  <script>
    var position = $("#about").offset().top;
    $("#about-btn").click(function(){
        $("html,body").animate({
            scrollTop : position
        }, {
            queue : false
        });
    });
  </script>
  <p>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
    INDIE GAME FANSはインディーゲームクリエイターとインディーゲームファンをつなぎます<br>
  </p>
</div>