/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  background-color: #ffcf10;
  font-family: "Chango", "Nico Moji", "Kosugi Maru";
}

.header{
  height: 100vh;
  border-right: 3px solid #212529;
  text-align: right;
}

.header a{
  font-size: 1.75rem;
  color: #212529;
  padding-right: 10px;
}

.right-all{
  margin-top: 50px;
  margin-bottom: 50px;
}

.top{
  font-size: 10em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 900;
}

li{
  list-style: none;
  padding-top: 27%;
}

.nes-input{
  width: 300px;
}

.table-all{
  margin-top: 30px;
}

.table-item{
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
}

/*
@media (prefers-color-scheme: dark) {
  body {
    background-color: #212529;
    color: #ffcf10;
  }

  .header{
    border-right: 3px solid #ffcf10;
  }

  .header a{
  color: #ffcf10;
  }
}
*/
